.dashboard {
  background-color: white;
  border-radius: 15px;
  h1 {
    text-align: center;
  }
  .create-new {
    margin-bottom: 10px;
  }
  tbody > tr {
    &:nth-child(2n-1) {
      background-color: lemonchiffon;
    }
  }
  table {
    text-align: center;
  }
  .title {
    background-color: aqua;
  }
}
