body {
  margin: 0px;
  padding: 0px;
  background: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

#navbarNav {
  margin-left: 10px;
}

.navbar-nav {
  width: 100%;
}
