<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet" />
    <title>Rock Paper Scissor</title>
  </head>
  <body>
    <header>
      <a href="./" class="back-btn">
        <svg width="36" height="38" viewBox="0 0 36 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M35.0039 37.8633L0.09375 22.4648V17.4375L35.0039 0V8.4375L10.957 19.582L35.0039 29.4609V37.8633Z" fill="#724C21" />
        </svg>
      </a>
      <img id="logo" src="../assets/img/logo.png" alt="" />
      <h1>ROCK PAPER SCISSORS</h1>
    </header>
    <section>
      <div class="pemain">
        <h2>PLAYER 1</h2>
        <img src="../assets/img/batu.png" class="batu" />
        <img src="../assets/img/kertas.png" class="kertas" />
        <img src="../assets/img/gunting.png" class="gunting" />
      </div>
      <div class="mid">
        <h3 class="vs">VS</h3>
        <div class="hasil">
          <h3 id="changeable">PLAYER 1 WIN</h3>
        </div>
        <img class="refresh" src="../assets/img/refresh.png" />
      </div>
      <div class="komputer">
        <h2>COM</h2>
        <img src="../assets/img/batu.png" class="batu-lawan" id="rock" />
        <img src="../assets/img/kertas.png" class="kertas-lawan" />
        <img src="../assets/img/gunting.png" class="gunting-lawan" />
      </div>
    </section>

    <script type="module" src="./page-component-suwit/script.js"></script>
  </body>
</html>